.product_card {
    max-width: 420px;
    min-width: 166px;
    cursor: pointer;
}

.product_card:hover > .product_card__image {
    background-size: 100%;
    filter: grayscale(0);
}

.product_card:hover > .product_card__text {
    text-decoration: underline;
}

.product_card__image {
    width: 100%;
    border-radius: 6px;
    border: 1px solid black;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    transition: background-size 0.5s ease, filter 0.5s ease;
    filter: grayscale(0.75);
}

.product_card__title {
    font-weight: 400 !important;
    margin: 0 !important;
}

.product_card__text {
    color: #929292;
}
