.categories_list {
    font-size: 24px;
    user-select: none;
}

.categories_list__horizontal {
    white-space: nowrap;
    margin: 0 -70px;
    padding-left: 70px;
}

.categories_list > li[role='none'] {
    display: none;
}

.categories_list__item {
    cursor: pointer;
}

.categories_list__item:hover {
    border-bottom: 2px solid black;
}
